body {
    font-family: Arial, Helvetica, sans-serif;
}

a {
    text-decoration: none;
    color: navy;
    text-shadow: azure;
}

a:hover {
    color: green;
    /* text-shadow: 1px 1px navy; */
}

/* #full-header {
    position: sticky;
    top: 0px;
} */

#header-div {
    display: flex;
    flex-direction: row;
    width: 100%;
    position: sticky;
    top: 0px;
    background-color: rgb(255, 255, 255, 0.7);
}

#title-diag {
    display: flex;
    background-color: rgb(0, 128, 0, 0.8);
    clip-path: polygon(0% 0%, 100% 0%, 90% 100%, 0% 100%);
    /* https://developer.mozilla.org/en-US/docs/Web/CSS/clip-path */
    padding: 0px 40px 0px 0px;
}

.header_h1 {
    text-align: left;
    padding: 20px;
    font-size: 40px;
    display: flex;
    flex: 1 1 0;
    margin: 0px;
}

.header_h1 a {
    color: azure;
}

.header_h1:hover a {
    color: navy;
    /* text-shadow: 2px 2px azure */
}

.studentcenter-div {
    text-align: right;
    display: flex;
    flex: 1 1 0;
    padding: 20px;
    justify-content: end;
    align-items: center;
}
.studentcenter{
    text-align: right;
    font-size: 20px;
}

a.logout{
    display: inline;
    font-size: 20px;
}

.header_ul{
    text-align: center;
    /* padding-inline-start: 0px;
    padding-top: 10px;
    margin-top: 0px; */
    display: flex;
    flex-direction: row;
}

.header_li{
    /* list-style-type: none; */
    /* display: inline-block; */
    display: flex;
    flex: 1 1 0;
    padding: 20px;
    justify-content: center;
    /* padding-right: 65px;
    padding-left: 65px;
    padding-top: 18px;
    padding-bottom: 16px;
    background-color: #abd2fa; */
    border: 1px solid white;
    background-color: rgb(0, 0, 0, 0.8);

}

.header_a{
    text-decoration: none;
    font-size: 20px;
    /* color: #3A275E; */
    color: white;
}

.header_li:hover {
    background-color: white;
}

.header_li:hover .header_a {
    color: rgb(0, 0, 0, 0.8);
}
/*
.header_a:hover{
    color: mediumvioletred;
} */

.current_page{
    color: white;
    font-weight: bold;
    text-transform: uppercase;
}

.top-page-div {
    display: flex;
    flex-direction: column;
    margin-bottom: 20px;
    padding: 40px;
    height: 300px;
    background-size: contain;
    justify-content: center;
    align-items: center;
}

#index-img {
    background-image: url("../images/academic-setup.jpg");
    /* Photo by Element5 Digital on Unsplash */
}

.top-page-div>div {
    /* margin: 0px 80px; */
    padding: 10px 40px;
    background-color: rgb(255, 255, 255, 0.8);
    margin: 20px 0px;
    max-width: 500px;
}

h1{
    /* padding-top: 30px; */
    text-align: center;
    text-transform: uppercase;
}

.home{
    border-left: 1px solid black;
}


.about_flex{
    display: flex;
    padding-left: 5%;
    padding-right: 5%;
}

.headshot{
    display:inline-block;
    padding-right: 10px;
}

.about_me{
    display:inline-block;
    padding-left: 10px;
}

#login_form li{
    list-style: none;
}

#signup_form li{
    list-style: none;
}

input{
    display: inline;
}

.subject{
    padding-left: 200px;
}

h2{
    text-align: center;
    font-weight: normal;
    font-size: 20px;
    font-style: italic;
}

.phone, .email{
    display: inline-block;
}

#login_form{
    padding-bottom: 20px;
}

#login_form .text_label{
    padding-bottom: 15px;
    padding-left: 40%;
}

#login_form button{
    margin-left: 55%;
}

form .text_label{
    display: inline-block;
    width: 100px;
    text-align: right;
}

#signup_form .text_label{
    width: 200px;
    padding-bottom:15px;
}

#signup_form button{
    margin-left: 200px;
}


.body-div {
    margin: 40px 80px;
    border: 1px solid black;
    padding: 20px;
}

#sortby-form {
    display: flex;
    flex-direction: row;
    align-items: center;
}

#sortby-form>select {
    text-align: center;
    height: 20px;
    margin: 5px;
}

.rating_star {
    width: 20px;
}

#testimony-credits {
    display: flex;
    padding-right: 100px;
    justify-content: end;
}

#testimony-credits>div {
    text-align: left;
    width: 200px;
    background-color: lightgray;
    padding: 20px;
}

.footer{
    /* padding-bottom: 5px; */
    /* border-top: 1px solid black; */
    margin-top:20px;
    display: flex;
    background-color: lightgrey;
    padding: 3px;
    font-size: 80%;
}

.footer>div {
    display: flex;
    flex: 1 1 0;
    margin: 0px;
}

.phone {
    text-align: right;
    padding-right: 40px;
    border-right: 1px solid black;
    justify-content: end;
}

.email {
    text-align: left;
    padding-left: 40px;
}
