a {
    text-decoration: none;
}

#header-div {
    display: flex;
    flex-direction: row;
    width: 100%;
}

.header_h1{
    text-align: left;
    padding: 20px;
    font-family: serif;
    color: darkblue;
    font-size: 40px;
    display: flex;
    flex: 1 1 0;
    margin: 0px;
}

.studentcenter-div {
    text-align: right;
    display: flex;
    flex: 1 1 0;
    padding: 20px;
    justify-content: end;
    align-items: center;
}
.studentcenter{
    text-align: right;
    font-size: 20px;
}

.header_ul{
    text-align: center;
    padding-inline-start: 0px;
    padding-top: 10px;
    margin-top: 0px;
}

.header_li{
    list-style-type: none;
    display: inline-block;
    padding-right: 65px;
    padding-left: 65px;
    padding-top: 18px;
    padding-bottom: 16px;
    border-right: 1px solid black;
    border-top: 1px solid black;
    border-bottom: 1px solid black;
    border-left: 1px solid black;
    background-color: #abd2fa;
}

a.logout{
    display: inline;
}

.home{
    border-left: 1px solid black;
}

.header_a{
    text-decoration: none;
    font-size: 20px;
    color: #3A275E;
}

.header_a:hover{
    color: mediumvioletred;
}

.current_page{
    text-decoration: underline;
}

h1{
    /* padding-top: 30px; */
    text-align: center;
    font-size: 30px;
    text-transform: uppercase;
}

.about_flex{
    display: flex;
    padding-left: 5%;
    padding-right: 5%;
}

.headshot{
    display:inline-block;
    padding-right: 10px;
}

.about_me{
    display:inline-block;
    padding-left: 10px;
}

#login_form li{
    list-style: none;
}

#signup_form li{
    list-style: none;
}

input{
    display: inline;
}

.subject{
    padding-left: 200px;
}

h2{
    text-align: center;
    font-weight: normal;
    font-size: 20px;
    font-style: italic;
}

.phone, .email{
    display: inline-block;
}

#login_form{
    padding-bottom: 20px;
}

#login_form .text_label{
    padding-bottom: 15px;
    padding-left: 40%;
}

#login_form button{
    margin-left: 55%;
}

form .text_label{
    display: inline-block;
    width: 100px;
    text-align: right;
}

#signup_form .text_label{
    width: 200px;
    padding-bottom:15px;
}

#signup_form button{
    margin-left: 200px;
}

.top-page-div {
    margin: 20px;
    border: 1px solid black;
    padding: 20px;
    background-color: lavender;
}

.top-page-div>div {
    margin: 0px 80px;
    padding: 10px 40px;
    background-color: white;
    /* WILL REPLACE BACKGROUND WITH IMAGE */
    margin-bottom: 20px;
}

.body-div {
    margin: 40px 80px;
    border: 1px solid black;
    padding: 20px;
}

#sortby-form {
    display: flex;
    flex-direction: row;
    align-items: center;
}

#sortby-form>select {
    width: 50px;
    height: 20px;
    margin: 5px 10px;
}

ul {
    /* padding-left:0; */
}

.footer{
    padding-bottom: 5px;
    border-top: 1px solid black;
    margin-top:20px;
}
